.wrap {
    height: 100vh;
    background-color: #ffffff;
}

.box {
  width: 150px;
  height: 150px;
  color: #fff;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-weight: 900;
  }
  &-container {
    width: 150px;
    height: 150px;
  }
}
